@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

    --font-jamjuree: 'Bai Jamjuree', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: var(--font-jamjuree);
}

main {
    max-width: 1440px;
    margin: 0 auto;
    width: 80%;
}

h1, h2 {
    color: var(--Dark-Grayish-Blue);
}

p {
    color: var(--Grayish-Blue);
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background: white url(./images/bg-header-desktop.png) no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 550px;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.header-text h1 {
    font-size: 2.4em;
}
.header-text p {
    max-width: 665px;
    font-size: 1.1em;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.1em;
}

.buttons input {
    border-radius: 40px;
    border: none;
    color: white;
    width: 200px;
    font-family: var(--font-jamjuree);
    font-size: 1em;
    padding: 12px 16px;
    outline: none;
    transition: all .3s ease-in-out;
}
.buttons input:hover {
    opacity: .7;
    cursor: pointer;
}

.btn-ios {
    background-color: var(--Strong-Cyan);
    box-shadow: 1px 2px 4px  hsl(171, 44%, 37%);  
}
.btn-mac {
    background-color: var(--Light-Blue);
    box-shadow: 1px 2px 4px hsl(233, 44%, 37%);
}

.sect1-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
}

.sect1-title h2 {
    font-size: 2em;
}

.sect1-title p {
    font-size: 1.1em;
    text-align: center;
    max-width: 780px;
}

.section1 {
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding-bottom: 2em;
}

.sect1-pc {
    position: relative;
    top: 50%;
    left: -15.2%;
}

.sect1-pc-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20%;
}

.sect1-pc-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.8em;
}

.sect1-pc-text p {
    line-height: 1.4em;
    padding-top: 14px;
    max-width: 400px;
}

.sect1-img {
    width: 122%;
}

.section2 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
    margin-top: 5em;
}

.sect2-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    max-width: 680px;
}
.sect2-text h2 {
    font-size: 2em;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.sect3-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.sect3-title h2 {
    font-size: 2em;
}

.sect3-part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2em;
}

.sect3-part2-div {
    text-align: center;
    line-height: 1.5em;
    max-width: 390px;
}
.sect3-part2-div h2{
    margin: .9em 0;
}

.sect3-part3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    width: 100%;
    margin-top: 4em;
}

.sect3-part4 {
    margin: 4em 0;
    gap: 2em;
}

.sect3-part4 h2 {
    font-size: 2em;
}

.sect3-part4 p {
    text-align: center;
    width: 65%;
}

.pad-top {
    padding-top: 12px;
}

footer {
    background-color: rgb(248, 248, 248);
    width: 100%;
    margin-top: 5em;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.footer-links-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1.4em;
    width: 550px;
}

.footer-links-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .5em;
}

.footer-links-div a {
    color: var(--Dark-Grayish-Blue);
    text-decoration: none;
    font-size: 1.1em;
}

.footer-links-div a:hover {
    color: var(--Strong-Cyan);
}


.footer-social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-social-links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 150px;
}

.footer-social-links ul a svg {
    fill: #4C545C;
    transition: all .3s ease-in-out;
}

.footer-social-links ul a svg:hover {
    fill: var(--Strong-Cyan);
}

.img-footer {
    width: 74px;
}


@media screen and (max-width:1024px) {

    .sect1-pc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: static;
    }

    .sect1-pc-in{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4em;
    }

    .sect1-pc-text {
        gap: 2.5em;
        text-align: center;
    }

    .sect1-pc-text h2 {
        font-size: 1.8em;
    }

    .sect1-pc-text p {
        width: 340px;
    }

    .sect1-img {
        width: 512px
    }

    .sect1-pc-text p {
        font-size: 1em;
        max-width: 600px;
    }

    .sect2-img {
        width: 512px;
    }

    .footer, .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3em;
    }

    .footer-links {
        width: auto;
    }

    .footer-links-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .footer-links-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.6em;
    }

    .img-footer {
        width: 58px;
    }
}

@media screen and (max-width:915px) {
    .header-text h1 {
        font-size: 2.2em;
    }

    .sect3-part2, .sect3-part3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5em;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .buttons input {
        width: 310px;
    }
}

@media screen and (max-width:735px) {
    .header {
        width: ;
    }
}